.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.selection-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    gap: 20px;
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search input {
    margin-bottom: 10px;
}

.doctor-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    max-width: 200px;
    text-align: left;
}

.doctor-list li {
    padding: 10px;
    cursor: pointer;
}

.doctor-list li:hover, .doctor-list li.selected {
    background-color: #e0e0e0;
}

.selected-doctor-info {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

button {
    /* margin-top: 20px; */
    padding: 10px 20px;
    /* font-size: 16px; */
}
